body{
    background-image: url(../img/ba1.jpg);
    background-color: rgba(34, 34, 34, 0.836);
    background-blend-mode: soft-light;
    background-size: contain;
}

html{
    margin: 0%;
}

div.container{
    color: white;
    font-size: 17px;
}

div.col-6{
    margin-left: 530px;
    margin-top: 170px;
    margin-bottom: 135px;
}

section.col-12{
    display: flex;
    background-color: white;
    justify-content: center;
}

div.card{
    display: flex;
    color: black;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 5px;
    justify-content: space-around;
}

div.card-horizontal{
    align-content: center;
}

section.col-6{
    background-color:rgb(51, 54, 58);
    color: white;
}

h4{
    margin-top: 15px;
    margin-left: 15px;
}

.btn-honolulu{
margin-left: 15px;
}

.description-honolulu{
    margin-left: 15px;
}

section.container{
    background-color: white;
}

footer{
    padding-top: 18px;
    padding-bottom: 20px;
}